*{
    font-family: 'belanosima';
    margin: 0px;
    color: #181823;
}

body{
    font-size: 16px;
    line-height: 1.5;
}

header{
    border: 1px solid black;
    height: 3.125rem;
    width: 100%;
    background-color: #eff5f5;
    position: fixed;
    z-index: 100;
}

.nav-bar{
    margin: 0.9rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.seccion-titulo{
    height: 31.25rem;
    width: 100%;
}

#foto-titulo{
    width: 100%;
    height: 31.25rem;
}

h1{
    position: absolute;
    z-index: 10;
    left: 35%;
    top: 14rem;
    font-size: 4.7rem;
    color: #fc7300;
    background-color: #00425a;   
}



.seccion-quienes-somos{
    height: 31.25rem;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #00425a;
    outline: 0.3rem solid #181823;
}

#quienes-somos{
    font-size: 3.125rem;
    padding: 0,6rem;
    color: #fc7300;
}

.seccion-quienes-somos div{
    display: flex;
    justify-content: center;
}

.seccion-quienes-somos p{
    font-size: large;
    padding: 1.25rem;
    color: #eff5f5;
    position: absolute;
    top: 9.4rem;
}

.seccion-porque-elegirnos{
    height: 31.25rem;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #00425a;
    outline: 0.3rem solid #181823;
}

#porque-elegirnos{
    font-size: 3.125rem;
    padding: 0.6rem;
    color: #fc7300;
}

.seccion-porque-elegirnos p{
    font-size: large;
    padding: 1.25rem;
    color: #eff5f5;
    position: absolute;
    top: 9.4rem;
}

.seccion-propuesta-educativa{
    height: 31.25rem;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #00425a;
    outline: 0.3rem solid #181823;
}

#propuesta-educativa{
    font-size: 3.125rem;
    padding: 0.6;
    color: #fc7300;
}

.propuestas{
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
}

.seccion-propuesta-educativa img{
    height: 18.75rem;
    width: 25rem;
}

.seccion-propuesta-educativa p{
    font-size: 1.56rem;
    padding: 0.6rem;
    color: #eff5f5;
}


.seccion-ultimas-noticias{
    height: 35rem;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #00425a;
    outline: 0.3rem solid #181823;
}

#ultimas-noticias{
    font-size: 3.125rem;
    padding: 0.6rem;
    color: #fc7300;   
}

.seccion-ultimas-noticias p{
    font-size: 1.56rem;
    padding: 0.6rem;
    color: #eff5f5;   
}

.seccion-ultimas-noticias img{
    height: 14rem;
    width: 25rem;
}

.noticias{
    display: flex;
    justify-content: space-around;
    padding: 0.6rem;
}


footer{
    background-color: #eff5f5;
}

footer nav{
    display: flex;
    justify-content: space-around;
    padding: 1.25rem;
}

footer nav h3{
    font-size: 1.56rem;
    padding: 1.25rem;
}

footer iframe{
    height: 9.4rem;
    width: 15.6rem;
}

footer nav img{
    height: 3.125rem;
    width: 3.125rem;
}

footer nav ul{
    list-style-type: none;
}